@tailwind base;

@tailwind components;

@keyframes gradient-position-animation {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

.animate-gradient {
  animation-name: gradient-position-animation;
  background-size: 300% 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.animate-gradient-a {
  animation-duration: 12s;
}

.animate-gradient-b {
  animation-duration: 8s;
  animation-delay: -3s;
}

.underline-gradient-dark {
  background-position: 0.1em 88%;
  --color: theme('colors.cool-gray.700');
  background-image: linear-gradient(0deg, var(--color) 100%, var(--color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 25%;
}

.prose a,
.underline-gradient {
  background-position: 0.1em 88%;
  --color: theme('colors.cool-gray.200');
  background-image: linear-gradient(0deg, var(--color) 100%, var(--color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 25%;
}

.prose a:hover,
.underline-gradient:hover {
  @apply text-gray-900;
  background-size: 100% 50%;
}

.underline-gradient-thin {
  background-position: 0 100%;
  background-image: linear-gradient(120deg, #d53f8c 100%, #d53f8c 100%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

b {
  @apply text-gray-800;
}

@tailwind utilities;
